# **This is what an end to end scikit learn Workflow looks like**
1. **Getting data ready**
2. **choosing the right estimator / algorithm to work for your problem**
3. **fit the model / evaluator and use it to make predictions**
4. **evaluate the model**
5. **improve the model**
6. **save and load the trained model**
7. **putting it all together**

### 1) Getting the data ready to be used with machine learning
The three main things that we have to do are:
  * Split the data into *features* and *labels* (Usually `X` and `Y`)
  * *filling* (aka *imputing*) or disregarding missing values
  * converting non numerical values to numerical values (aka *feature encoding*)

In [9]:
# 1) get the data ready
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [11]:
X = heart_disease.drop("target", axis = 1) #axis = 1 signifies the column
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [12]:
Y = heart_disease["target"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size = 0.2)