In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
X = df.drop("Profit",axis = 1)
Y = df["Profit"]

In [4]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("onehot", OneHotEncoder(), [3])],remainder = "passthrough")
X_encoded = ct.fit_transform(X)
X = X_encoded

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)

## Via this flowchart, we shall try to apply the [simple linear regression estimator](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)

![ML MAP](ml_map.png)

In [6]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)
regressor.score(X_test,Y_test)

0.963751494819644

In [7]:
Y_preds = regressor.predict(X_test)